<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.himkhand">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HimKhand">
        <activity android:name=".ArtistStory"></activity>
        <activity
            android:name=".ChooseArtists2"
            android:exported="true" />
        <activity
            android:name=".ChooseArtists"
            android:exported="true"
            android:label="Choose Artists" />
        <activity
            android:name=".Auth.GoogleSignInActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.SetNewPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.CreateUserAccount"
            android:exported="true" />
        <activity
            android:name=".Auth.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.CreateAccount"
            android:exported="true" />
        <activity
            android:name=".Auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>